/* General Container Styles */
#container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #59CEFC, #0071AA);
    padding: 10px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Top Container */
#topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
}

/* Labels Container */
#labelsContainer {
    width: 85%; /* Ensures it takes most of the space */
    display: inline-block;
    color: #F9FCFC;
}

#configLabel, #serviceLabel, #typeLabel {
    display: inline-block;
    width: 30%;
    margin-right: 5px;
    font-weight: bold;
    font-size: 14px;
}

/* Buttons Container */
#buttonsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto; /* Takes up only the space it needs */
}

/* Actions, Description, and Other Buttons */
#actionsButton, #descriptionButton, #searchButton, #clearButton, #searchContact, #searchPassword, #fetchKAs {
    width: auto;
    height: 35px; /* Same height as other buttons */
    color: #F9FCFC;
    background-color: #005A9C;
    border: none;
    margin-left: 10px; /* Space between buttons */
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#actionsButton:hover, #descriptionButton:hover, #searchButton:hover, #clearButton:hover, #searchContact:hover, #searchPassword:hover, #fetchKAs:hover {
    background-color: #00477A; /* Darker on hover */
    transform: translateY(-2px); /* Lift on hover */
}

/* Adjusted widths for input fields */
#kaInput, #nameInput, #storeInput {
    width: 100px; /* Set fixed width for the input fields */
    padding: 8px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

#kaInput:focus, #nameInput:focus, #storeInput:focus {
    border-color: #0071AA;
}

/* Mid Container */
#midContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    align-items: center;
    width: 100%;
}

#searchInput {
    width: 15%;
    padding: 8px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

#suggestedKA {
    flex: 1;
    margin-left: 5px;
    padding-left: 5px;
    color: #F9FCFC;
    font-style: italic;
}

/* Bottom Container */
#botContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between; /* Ensures elements are spaced appropriately */
}

/* Contact and Password Divs (45% width each) */
#contactDiv, #passwordDiv {
    width: 45%; /* Each takes up 45% of the total width */
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Contact and Password Elements */
#contactInput, #passwordInput {
    width: 30%; /* Reduced width for the input boxes */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

#contactInfo, #passwordInfo {
    flex: 1;
    margin-left: 5px;
    color: #F9FCFC;
    width: 60%; /* Increased width for the paragraphs */
}

/* Modal Styles */
#passwordModal, #searchModal, #contactModal {
    position: absolute;
    width: 750px;  
    background-color: lightblue;
    padding: 15px;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000;  
    max-height: 300px;  
    overflow-y: auto;   
}

/* Modal Title */
.modalTitle {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Minimized Modals Container */
#minimizedModalsContainer {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Minimized Modal Styles */
.minimizedModal {
    background: #f0f0f0;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Maximize Icon Style */
.maximizeIcon {
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}

/* Close Button and Minimize Button for Modal */
#closeModal, #closeSearchModal, #closeContactModal, #minimizePasswordModal, #minimizeSearchModal, #minimizeContactModal {
    position: sticky; 
    top: 0;
    color: #333;
    float: right;
    font-size: 20px;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    padding: 5px;
}
